$color-text-main: #292929;
$color-text-second: #999999;
$color-text-third: #666666;
$color-text-white: #ffffff;
$color-hover: #cab89f;
$color-bg-main: #ffffff;
$color-bg-second: #f7f7f7;
$color-bg-third: #999999;
