<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="{{ '/assets/js/ie/html5shiv.js' | relative_url }}"></script><![endif]-->
	<link href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
	<link href="{{ 'assets/vendor/hover/hover.min.css' | relative_url }}" rel="stylesheet">
	<link href="{{ 'assets/vendor/ionicons/css/ionicons.min.css' | relative_url }}" rel="stylesheet">
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
	<link href="{{ 'assets/vendor/boxicons/css/boxicons.min.css' | relative_url }}" rel="stylesheet">
	<link href="{{ 'assets/vendor/venobox/venobox.css' | relative_url }}" rel="stylesheet">
	<link href="{{ 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' | relative_url }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />

	<!--[if lte IE 8]><link rel="stylesheet" href="{{ '/assets/css/ie8.css' | relative_url }}" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ '/assets/css/ie9.css' | relative_url }}" /><![endif]-->
</head>
