<!-- ======= Navbar ======= -->
<header id="header" class="header">
  <div class="container header__wrapper">
    <div class="header__item">
      <div class="header__logo">
        <a href="{{ 'index.html' | relative_url}}"><img width="70" height="50" src="{{ 'assets/img/logo.png' | relative_url}}" alt="logo"></a>
      </div>
      <button class="header__toggle d-block d-lg-none" onclick="toggleHeader(event)">
          <span></span>
          <span></span>
          <span></span>
      </button>
    </div>
    <div class="header__item header__menu collapse" id="menu-nav">
      <ul class="nav list-unstyled header__menu__wrapper">
        {%- for item in site.data.navigation -%}
        <li class="nav-item header__menu__item"><a href="{%-if layout.name != 'home'-%}{{site.url}}{%- endif -%}{{item.url}}" class="header__menu__item__text">{{item.label | capitalize}}</a></li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</header>
  <!-- End Navbar -->