<!-- ======= Navbar ======= -->
<nav id="main-nav">
    <div class="row">
      <div class="container">

        <div class="logo">
          <a href="{{ 'index.html' | relative_url}}"><img src="{{ 'assets/img//logo.png' | relative_url}}" alt="logo"></a>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="{{ index.html | relative_url}}" class="smoothScroll">Home</a></li>
          <li><a href="#about" class="smoothScroll">About</a></li>
          <li><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
          <!-- <li><a href="#journal" class="smoothScroll">Blog</a></li> -->
          <li><a href="#contact" class="smoothScroll">Contact</a></li>
        </ul>

      </div>
    </div>
  </nav><!-- End Navbar -->