<!-- ======= Navbar ======= -->
<nav id="main-nav" class="main-nav">
  <div class="container main-nav__wrapper">
    <div class="main-nav__logo">
      <a href="{{ 'index.html' | relative_url}}"><img src="{{ 'assets/img//logo.png' | relative_url}}" alt="logo"></a>
    </div>
    <div class="main-nav__mobile d-block d-lg-none">
      <div class="main-nav__mobile__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <ul class="list-unstyled main-nav__menu d-none d-lg-flex ">
      <li class="main-nav__menu__item"><a href="{{ index.html | relative_url}}" class="smoothScroll main-nav__menu__item__text">Home</a></li>
      <li class="main-nav__menu__item"><a href="#about" class="smoothScroll main-nav__menu__item__text">About</a></li>
      <li class="main-nav__menu__item"><a href="#portfolio" class="smoothScroll main-nav__menu__item__text">Portfolio</a></li>
      <li class="main-nav__menu__item"><a href="#contact" class="smoothScroll main-nav__menu__item__text">Contact</a></li>
    </ul>
  </div>
</nav>
  <!-- End Navbar -->