<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-T1TR7MKZDM"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-T1TR7MKZDM');
	</script>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="Description" content="{{site.description}}">
	<meta http-equiv="content-language" content="en" />
	<meta name="keywords" content="{{site.keywords}}">
	<meta name="author" content="{{site.fullname}}">
	<meta name="robots" content="noodp,index,follow" />
	<meta name="revisit-after" content="1 days" />
	<meta name="thumbnail" content="{{'assets/img/home-bg.jpg' | absolute_url}}" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="google-site-verification" content="suMYTYkBaANGJi4fdBzhC66q7A0zcolANpNG6fA1VCU" />
	<link rel="apple-touch-icon" type="image/png" href="{{'assets/img/favicon.png' | relative_url}}">
	<link rel="icon" type="image/png" href="{{'assets/img/favicon.png' | relative_url}}">
	<link href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
	<link href="{{ 'assets/vendor/venobox/venobox.min.css' | relative_url }}" rel="stylesheet">
	<link href="{{ 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' | relative_url }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
</head>
