<div id="portfolio" class="paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>My Portfolio</h2>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">
        {%- for project in site.data.projects -%}
        <div class="col-lg-4 col-md-6 portfolio-item filter-{{project.type}}">
          <img src="{{ project.image | relative_url }}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>{{project.title}}</h4>
            <!-- <p>{{project.description}}</p> -->
            <a href="{{ project.image | relative_url }}" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="{{project.link}}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
        {%- endfor -%}
      </div>

    </div>

  </div>