<!-- Scripts -->
<!-- Vendor JS Files -->
<script defer type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
<script defer nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
<script defer src="{{ 'assets/vendor/jquery/jquery.min.js' | relative_url }}"></script>
<script defer src="{{ 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' | relative_url }}"></script>
<script defer src="{{ 'assets/vendor/typed/typed.js' | relative_url }}"></script>
<script defer src="{{ 'assets/vendor/venobox/venobox.min.js' | relative_url }}"></script>
<script defer src="{{ 'assets/vendor/owl.carousel/owl.carousel.min.js' | relative_url}}"></script>
<script defer src="{{ 'assets/vendor/lazyload/lazyload.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/main.js' | absolute_url }}"></script>
<script defer src="{{ '/assets/js/validate.js' | absolute_url }}"></script>