<div id="skills">
    <div class="container">

        <div class="skills-carousel owl-theme">
            {%- for skill in site.data.skills -%}
            <div class="skills-block">
                <ion-icon class="skills__item__icon" name="{{skill.icon}}"></ion-icon>
                <span>{{skill.title}}</span>
                <div class="separator">
                    <ul class="skills__detail">
                        {%- for item in skill.detail -%}
                            <li class="skills__detail__item">{{item}}</li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</div>