<section id="timeline" class="section section--dark">
    <div class="container">
        <div class="section-title text-center">
            <h2>My Experiences</h2>
        </div>
    </div>
    <div class="container">
        <div class="main-timeline">
            {%- for job in site.data.timelines -%}
            <!-- start experience section-->
            <div class="timeline">
                <div class="icon"></div>
                <div class="date-content">
                    <div class="date-outer">
                        <span class="date">
                            <span class="month">{{job.duration}}</span>
                            <span class="year">{{job.time}}</span>
                        </span>
                    </div>
                </div>
                <div class="timeline-content">
                    <h5 class="title">{{job.position}}</h5>
                    <ul class="timeline__descripltion">
                        {%- for detail in job.description -%}
                        <li class="timeline__description__item">{{detail}}</li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
            <!-- end experience section-->
            {%- endfor -%}
        </div>
    </div>
</section>