/*--------------------------------------------------------------
# Home banner
--------------------------------------------------------------*/
.home-banner {
    // height: 100vh;
    width: 100%;
    background: url("../img/home-bg.jpg") no-repeat fixed center center/cover;
    @include transition(0.5s);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    &__content {
        height: 100vh;
        text-align: left;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: $color-bg-main;

            @media screen and (max-width: 767px) {
                font-size: 22px;
            }
        }

        p {
            font-size: 13px;
            letter-spacing: 3px;
            margin-top: 0;
            margin-bottom: 30px;
            text-transform: capitalize;
            color: $color-bg-main;
            font-weight: 500;
        }

        .social-list {
            li {
                margin-right: 20px;

                ion-icon {
                    color: $color-bg-main;
                    font-size: 25px;
                }
            }
        }
    }

    &:hover,
    &:focus {
        -webkit-filter: none;
        filter: none;
    }
}

/*-----------------------------------------------------------------------------------*/
/*  About
/*-----------------------------------------------------------------------------------*/
.about {
    width: 100%;
    height: auto;
    background: $color-bg-second;
    padding-top: 120px;

    .about__image {
        &__wrapper {
            padding-bottom: 20px;
            border: 10px solid $color-text-second;
        }

        img {
            width: 100%;
            box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
            margin-top: -60px;
            margin-left: 20px;
            max-height: 400px;
            -o-object-fit: cover;
            object-fit: cover;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            @include transition(0.5s);
            &:hover,
            &:focus {
                -webkit-filter: none;
                filter: none;
            }
        }
    }

    &__description {
        &__highlight {
            font-size: 28px;
            text-align: left;
        }

        &__content {
            margin-bottom: 0;
            text-align: left;
        }
    }

}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
    &__details {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding-bottom: 10px;
        }
    }

    &__form {
        &__input {
            width: 100%;
            margin-bottom: 5px;
        }

        &__validate {
            display: none;
            color: red;
            margin: 0 0 20px 0;
            font-weight: 400;
            font-size: 13px;
        }

        &__error {
            display: none;
            color: $color-bg-main;
            background: #ed3c0d;
            text-align: left;
            padding: 15px;
            font-weight: 600;

            br+br {
                margin-top: 25px;
            }
        }

        &__message {
            display: none;
            color: $color-bg-main;
            background: #18d26e;
            text-align: center;
            padding: 15px;
            font-weight: 600;
        }

        &__loading {
            display: none;
            background: $color-bg-main;
            text-align: center;
            padding: 15px;

            &:before {
                content: "";
                display: inline-block;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                margin: 0 10px -6px 0;
                border: 3px solid $color-text-third;
                border-top-color: $color-text-second;
                -webkit-animation: animate-loading 1s linear infinite;
                animation: animate-loading 1s linear infinite;
            }
        }
    }
}