/*--------------------------------------------------------------
# Home banner
--------------------------------------------------------------*/
.home-banner{
    height: 100vh;
    width: 100%;
    &__content {
        height: 100vh;
        text-align: left;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: #fff;
        }
        p {
            font-size: 13px;
            letter-spacing: 3px;
            margin-top: 0;
            margin-bottom: 30px;
            text-transform: capitalize;
            color: #fff;
            font-weight: 500;
        }
        .list-social{
            li {
                float: left;
                margin-right: 20px;
                ion-icon {
                    color: #fff;
                    font-size: 15px;
                }
            }
        } 
    }
}
#home-banner {
    background: url("../img/home-bg.jpg") repeat scroll center center/cover;
}
/*--------------------------------------------------------------
# Home banner
--------------------------------------------------------------*/
.contact{
    &__details {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            padding-bottom: 10px;
        }
    }
    &__form{
        &__input{
            width: 100%;
            margin-bottom: 5px;
        }
        &__validate {
            display: none;
            color: red;
            margin: 0 0 20px 0;
            font-weight: 400;
            font-size: 13px;
          }
        
          &__error {
            display: none;
            color: #fff;
            background: #ed3c0d;
            text-align: left;
            padding: 15px;
            font-weight: 600;
        
            br + br {
              margin-top: 25px;
            }
          }
        
          &__message {
            display: none;
            color: #fff;
            background: #18d26e;
            text-align: center;
            padding: 15px;
            font-weight: 600;
          }
        
          .loading {
            display: none;
            background: #fff;
            text-align: center;
            padding: 15px;
        
            &:before {
              content: "";
              display: inline-block;
              border-radius: 50%;
              width: 24px;
              height: 24px;
              margin: 0 10px -6px 0;
              border: 3px solid #18d26e;
              border-top-color: #eee;
              -webkit-animation: animate-loading 1s linear infinite;
              animation: animate-loading 1s linear infinite;
            }
          }
    }
}