/*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/

.portfolio-details {
    padding-top: 30px;

    .portfolio-details-container {
        position: relative;
    }

    .portfolio-details-carousel {
        position: relative;
        z-index: 1;

        .owl-nav,
        .owl-dots {
            margin-top: 5px;
            text-align: left;
        }

        .owl-dot {
            display: inline-block;
            margin: 0 10px 0 0;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #ddd !important;

            &.active {
                background-color: $color-text-second !important;
            }
        }
    }

    .portfolio-info {
        padding: 30px;
        position: absolute;
        right: 0;
        bottom: -70px;
        background: #fff;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        z-index: 2;

        h3 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #eee;
        }

        ul {
            list-style: none;
            padding: 0;
            font-size: 15px;

            li+li {
                margin-top: 10px;
            }
        }
    }

    .portfolio-description {
        padding-top: 50px;

        h2 {
            width: 50%;
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p {
            padding: 0 0 0 0;
        }
    }
}

@media (max-width: 768px) {
    .portfolio-details {
        .portfolio-description h2 {
            width: 100%;
        }

        .portfolio-info {
            position: static;
            margin-top: 30px;
        }
    }
}