/*-----------------------------------------------------------------------------------*/
/*  /* Single page */
/*-----------------------------------------------------------------------------------*/

#journal-blog {
    padding-top: 140px;
}

/* main content */

.main-content {
    background: $color-bg-second;

    .container-main {
        display: inline-block;
        width: 100%;
        .block-main {
            margin-bottom: 30px;
            overflow: hidden;
        }
    }
}

.container-main .block-main .content-main {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    width: 100%;
}

.journal-txt h4 a {
    display: block;
    font-size: 19px;
    line-height: 24px;
    margin: 0 0 13px 0;
    font-weight: 500;
    color: $color-text-main;
    transition: all 0.5s ease-in-out 0s;

    &:hover {
        color: $color-text-second;
        transition: all 0.5s ease-in-out 0s;
    }
}

.post-meta ul li {
    font-size: 12px;
    font-weight: normal;
    margin-left: 8px;
    margin-right: 8px;
    text-transform: capitalize;
    display: inline-block;
    float: none;
}

.content-main .post-meta a {
    color: #a2a2a2;
    margin-left: 5px;
}

/* Commonts */

.comments {
    background: #fff;
}
.entry-comments{
    h6 {
        margin-right: 10px;
        font-size: 13px;
        letter-spacing: 0.1em;
        font-weight: 500;
    }
    
    &-item {
        margin-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #f2f2f2;
    }
    
    &-avatar {
        position: absolute;
        display: block;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
    
    &-body {
        padding-left: 86px;
    }
    
    &-author {
        margin-right: 10px;
        font-size: 13px;
        color: $color-text-main;
        letter-spacing: 0.1em;
        font-weight: 500;
    }
    span a {
        font-size: 13px;
        color: $color-text-second;
    }
    
    &-reply {
        padding-left: 10%;
    }
}
.rep {
    font-size: 13px;
    color: $color-text-main;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: capitalize;
}

/* Commonts form */
.cmt {
    background: #fff;
}

blockquote {
    padding: 40px;
    background-color: #f2f2f2;
    margin: 30px 0;
    border: none;
    border-left: 4px solid $color-text-second;
}

/*--------------------------------------------------------------
  # Blog
  --------------------------------------------------------------*/
/*  Navbar fixd page */

.subpage-nav {
    display: block !important;
}