.btn {
    background: #333;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
    &:hover, &:focus {
        color: #fff;
      }
  }
  
  