/*--------------------------------------------------------------
# skills
--------------------------------------------------------------*/
#skills {
  background: #f7f7f7;
  position: relative;
  padding-bottom: 80px;
}

.owl-item {
  float: left;
}

.skills-block span {
  margin: 10px 0;
  position: relative;
  font-size: 13px;
  color: #292929;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}

.skills-block .separator {
  margin: 0;
  font-size: 13px;
  line-height: 22px;
}

.skills-block i {
  font-size: 44px;
  color: #999999;
  line-height: 44px;
}

.skills-block .skills__item__icon {
  font-size: 35px;
}

.skills-carousel .owl-stage-outer {
  overflow: hidden;
}

.skills-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.skills-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  border: 0;
  padding: 0 !important;
  background-color: #ddd;
  cursor: pointer;
}

.skills-carousel .owl-dot.active {
  background-color: #999999;
}

.owl-nav {
  display: none;
}
.skills{
  &__detail{
    padding-left: 0px;
    &__item{
      list-style: none;
    }
  }
}