---
layout: default
---
<!-- ======= Hero Section ======= -->
<div id="hero" class="home">

  <div class="container">
    <div class="hero-content">
      <h1>I'm <span class="typed">Huynh (Reino) Mai</span></h1>
      <p class="typed-items" data-typed-person="Huynh (Reino) Mai">a front-end developer</p>
      <ul class="list-unstyled list-social">
        <li>
          <a href="{{site.linkedin_url}}" title="LinkedIn">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a></li>
        <li>
          <a href="{{site.github_url}}" title="github">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <div id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="assets/img/me.jpg" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">i'm a front-end developer based in HCMC, Vietnam. traveling and reading are my favorite
              hobbies. </p>
            <p class="separator">have been working as a front-end developer for 3 years. i'm always eagle for learning
              the new things about front-end technologies, and the challenges. </p>

          </div>

        </div>
      </div>
    </div>
  </div><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  {%- include skills.html -%}
  <!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  {%- include portfolio.html -%}
  <!-- End Portfolio Section -->

  <!-- ======= Timelines Section ======= -->
  {%- include timelines.html -%}
  <!-- <div id="journal" class="text-left paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>journal</h2>
        </div>
      </div>

      <div class="container">
        <div class="journal-block">
          <div class="row">

            <div class="col-lg-4 col-md-6">
              <div class="journal-info">

                <a href="blog-single.html"><img src="assets/img/blog-post-1.jpg" class="img-responsive" alt="img"></a>

                <div class="journal-txt">

                  <h4><a href="blog-single.html">SO LETS MAKE THE MOST IS BEAUTIFUL</a></h4>
                  <p class="separator">To an English person, it will seem like simplified English
                  </p>

                </div>

              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="journal-info">

                <a href="blog-single.html"><img src="assets/img/blog-post-2.jpg" class="img-responsive" alt="img"></a>

                <div class="journal-txt">

                  <h4><a href="blog-single.html">WE'RE GONA MAKE DREAMS COMES</a></h4>
                  <p class="separator">To an English person, it will seem like simplified English
                  </p>

                </div>

              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="journal-info">

                <a href="blog-single.html"><img src="assets/img/blog-post-3.jpg" class="img-responsive" alt="img"></a>

                <div class="journal-txt">

                  <h4><a href="blog-single.html">NEW LIFE CIVILIZATIONS TO BOLDLY</a></h4>
                  <p class="separator">To an English person, it will seem like simplified English
                  </p>

                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div> -->
  <!-- End Timelines Section -->
  {%- include contact.html -%}


</main><!-- End #main -->