---
layout: default
---
<!-- ======= Hero Section ======= -->
{%- include home/hero.html -%}
<!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  {%- include home/about.html -%}
  <!-- End About Section -->

  <!-- ======= Services Section ======= -->
  {%- include home/skills.html -%}
  <!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  {%- include home/portfolio.html -%}
  <!-- End Portfolio Section -->

  <!-- ======= Timelines Section ======= -->
  {%- include home/timelines.html -%}
  <!-- ======= End Timelines Section ======= -->

  <!-- ======= Contact Section ======= -->
  {%- include home/contact.html -%}
  <!-- ======= End Contact Section ======= -->

</main>
<!-- End #main -->