---
layout: default
---
<main id="main">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Portfolio Details</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li>Portfolio Details</li>
        </ol>
      </div>

    </div>
  </section><!-- Breadcrumbs Section -->

  <!-- ======= Portfolio Details Section ======= -->
  <section class="portfolio-details">
    <div class="container">

      <div class="portfolio-details-container">

        <div class="owl-carousel portfolio-details-carousel">
          <img src="{{page.image | relative_url}}" class="img-fluid" alt="">
        </div>

        <div class="portfolio-info">
          <h3>Project information</h3>
          <ul>
            <li><strong>Category</strong>: {{page.note}}</li>
            <li><strong>Client</strong>: ASU Company</li>
            <li><strong>Project date</strong>: {{page.time}}</li>
            <li><strong>Project URL</strong>: <a href="{{page.link}}">page.link</a></li>
          </ul>
        </div>

      </div>

      <div class="portfolio-description">
        <h2>{{page.title}}</h2>
        <p>
          {{page.description}}
        </p>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
</main>