<section id="about" class="section section--padding about" data-tracked="#menu-nav">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-lg-4 ">
                <div class="about__image">
                    <img src="{{'assets/img/thumb.jpg' | relative_url}}" data-src="{{'assets/img/me.jpg' | relative_url}}" class="lazyload img-responsive" alt="{{site.fullname}}">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="about__description">
                    <p class="about__description__highlight">{{site.intro.highlight}}</p>
                    <p class="about__description__content">{{site.intro.content}}</p>
                </div>
            </div>
        </div>
    </div>
</section>