<div id="about" class="section--padding">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-lg-4 ">
                <div class="div-img-bg">
                    <div class="about-img">
                        <img src="assets/img/me.jpg" class="img-responsive" alt="me">
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="about-descr">
                    <p class="p-heading">i'm Reino, a front-end developer based in HCMC, Vietnam. traveling and reading are my
                        favorite
                        hobbies. </p>
                    <p class="separator">have been working as a front-end developer for 3 years. i'm always eagle for
                        learning
                        the new things about front-end technologies, and the challenges. </p>
                </div>
            </div>
        </div>
    </div>
</div>