<div id="hero" class="home">
    <div class="container">
        <div class="hero-content">
            <h1>I'm <span class="typed">Huynh (Reino) Mai</span></h1>
            <p class="typed-items" data-typed-person="Huynh (Reino) Mai">a front-end developer</p>
            <ul class="list-unstyled list-social">
                <li>
                    <a href="{{site.linkedin_url}}" title="LinkedIn">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a></li>
                <li>
                    <a href="{{site.github_url}}" title="github">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>