<section id="portfolio" class="section section--padding portfolio-list" data-tracked="#menu-nav">
    <div class="container">
      <div class="section__title text-center">
        <h2>My Portfolio</h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul class="portfolio-list__filters">
            <li class="portfolio-list__filters filter-active" data-filter="*" >All</li>
            <li class="portfolio-list__filters" data-filter=".filter-app">App</li>
            <li class="portfolio-list__filters" data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>
      <div class="row portfolio-list__wrapper">
        {%- for project in site.portfolio -%}
        <div class="col-lg-4 col-md-6 portfolio-list__item filter-{{project.platform}}">
          <img data-src="{{ project.image | relative_url }}" class="lazyload img-fluid portfolio-list__item__image" alt="">
          <div class="portfolio-list__item__content">
            <h3 class="portfolio-list__item__title">{{project.title}}</h4>
            <div class="portfolio-list__item__link">
              <a href="{{ project.image | relative_url }}" data-gall="portfolioGallery" class="venobox portfolio-list__item__link__text" title="{{project.title}}">
                <ion-icon name="add-outline"></ion-icon>
              </a>
              <a href="{{project.url}}" class="portfolio-list__item__link__text" title="More Details">
                <ion-icon name="link-outline"></ion-icon>
              </a>
            </div>
          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>
  </section>