<section id="timeline" class="section section--dark" data-tracked="#menu-nav">
    <div class="container">
        <div class="section__title text-center">
            <h2>My Experiences</h2>
        </div>
    </div>
    <div class="container">
        <div class="timeline">
            {%- for job in site.data.timelines -%}
            <!-- start experience section-->
            <div class="timeline__item">
                <div class="timeline__item__icon"></div>
                <div class="timeline__item__date-content">
                    <div class="timeline__item__date-outer">
                        <span class="timeline__item__date">
                            <span class="timeline__item__month">{{job.duration}}</span>
                            <span class="timeline__item__year">{{job.time}}</span>
                        </span>
                    </div>
                </div>
                <div class="timeline__item__content">
                    <h3 class="timeline__item__title">{{job.position}}</h3>
                    <ul class="timeline__item__description">
                        {%- for detail in job.description -%}
                        <li class="timeline__item__description__item">{{detail}}</li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
            <!-- end experience section-->
            {%- endfor -%}
        </div>
    </div>
</section>