h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    color: $color-text-main;
    font-weight: 600;
}

h4 {
    color: $color-text-main;
    font-size: 14px;
    font-weight: 600;
}

a {
    color: $color-text-main;
    text-decoration: none;
    transition: all 0.5s ease-in-out 0s;
}

a:hover {
    transition: all 0.5s ease-in-out 0s;
}

a:hover,
a:focus {
    color: $color-text-second;
    text-decoration: underline;
}

nav ul li a {
    padding: 2px 0 0 0;
    position: relative;
    display: block;
    font-size: 12px;
    color: $color-text-second;
    letter-spacing: 0.1em;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
}

p {
    margin: 25px 0;
    padding: 0;
    font-size: 15px;
    color: $color-text-second;
    line-height: 28px;
}